/* Reset básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: #333;
}

/* Mapa */
#map {
    height: 400px;
    width: 100%;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container da tabela com rolagem */
.table-container {
    max-height: 400px; /* Define a altura máxima com rolagem */
    overflow-y: auto;
    margin: 20px auto;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #007bff;
    color: #fff;
    text-align: left;
    position: sticky;
    top: 0; /* Cabeçalho fixo */
    z-index: 1;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9f7fe;
}

/* Botões */
button {
    padding: 6px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

    button:hover {
        background-color: #218838;
    }
/* Loading Spinner */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #333;
    z-index: 1000;
}
